#careerImage {
	width: 30%;
	height: auto;
	margin-top: 60px;
	margin-right: 50px;
	border-radius: 50px;
	float: right;
	width: 100%;
}

#career {
	width: 100vw;
	padding: 1vh 8vw;
	font-weight: normal;
}

#career h1 {
	padding: 5px 0px;
	border-bottom: 4px solid rgb(128, 159, 255);
	width: 15%;
}


/*
Resume
*/
.article-title {
	margin-bottom: 30px;
}

.icon-box {
	position: relative;
	background: rgb(50, 50, 50);
	width: 35px;
	height: 35px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 40px;
	font-size: 16px;
	color: rgb(128, 159, 255);
	box-shadow: var(--shadow-1);
	z-index: 1;
}

.icon-box::before {
	content: "";
	position: absolute;
	inset: 1px;
	background: var(--eerie-black-1);
	border-radius: inherit;
	z-index: -1;
}

.timeline {
	margin-bottom: 30px;
}

.timeline .title-wrapper {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 25px;
	font-size: 20px;
}

.timeline-list {
	font-size: 16px;
	margin-left: 45px;
	font-style: normal;
	list-style: none
}

.timeline-item {
	position: relative;
}

.timeline-item:not(:last-child) {
	margin-bottom: 20px;
}

.timeline-item-title {
	font-size: 18px;
	line-height: 1.3;
	margin-bottom: 7px;
}

.timeline-list span {
	color: rgb(128, 159, 255);
	line-height: 1.6;
}

.timeline-item:not(:last-child)::before {
	content: "";
	position: absolute;
	top: -25px;
	left: -30px;
	width: 1px;
	height: calc(100% + 50px);
	background: rgb(255, 255, 255);
}

.timeline-item::after {
	content: "";
	position: absolute;
	top: 5px;
	left: -33px;
	height: 6px;
	width: 6px;
	background: rgb(128, 159, 255);
	border-radius: 50%;
	box-shadow: 0 0 0 4px rgb(50, 50, 50);
}

.timeline-text {
	line-height: 1.6;
	font-style: normal;
}