@media (prefers-color-scheme: dark) {
	body {
	  color: #eee;
	  background: #262525;
	  min-height: 100vh;
	  overflow: auto;
	  font-family: "atkinson", sans-serif;
	  padding: 0px;
	  margin: 0px;
	  scroll-behavior: smooth;
	}
	body a {
	  color: #809fff;
	}
	p {
	  font-size: 1.1rem;
	}
}

  #rightImage {
	width: 30%;
	height: auto;
	margin-top: 60px;
	margin-right: 50px;
	border-radius: 50px;
	float: right;
	width: 100%;
  }
  #bio {
	padding: 40px 10vw 90px 10vw;
	font-weight: normal;
  }
  #bio .bio-img {
	width: 30%;
	height: auto;
	margin-left: 30px;
	border-radius: 50px;
	float: right;
  }
  /*
	Sections
	*/
  #section-list {
	width: 82vw;
	padding: 6vh 8vw;
	font-weight: normal;
  }
  #section-list h1 {
	padding: 5px 0px;
	text-align: center;
	font-weight: bolder;
  }
  .sectbubble {
	margin-left: 10vh;
	margin-right: 10vh;
	display: flex;
	flex-wrap: wrap;
	border-radius: 25px;
	background-color: #4e6097;
	padding: 50px;
  }
  .sectbubble h2 {
	font-family: "atkinson-bold";
  }
  .section {
	width: calc(50% - 10px);
	height: calc(50% - 10px);
	margin: 5px;
	border-radius: 15px;
  }
  /*
	Hobby section
	*/
  .hobbyBubble {
	display: flex;
	flex-wrap: wrap;
	border-radius: 20px;
	background-color: #4e6097;
	padding: 35px;
  }
  .hobbyBubble h2 {
	font-family: "atkinson";
  }
  #hobbies {
	width: 80vw;
	padding: 1vh 8vw;
	font-weight: normal;
  }
  #hobbies h1 {
	padding: 5px 0px;
	border-bottom: 4px solid #809fff;
	width: 15%;
  }
  /*
	Resume
	*/
  .article-title {
	margin-bottom: 30px;
  }
  .icon-box {
	position: relative;
	background: #323232;
	width: 35px;
	height: 35px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	color: #809fff;
	box-shadow: var(--shadow-1);
	z-index: 1;
  }
  .icon-box::before {
	content: "";
	position: absolute;
	inset: 1px;
	background: var(--eerie-black-1);
	border-radius: inherit;
	z-index: -1;
  }
  .timeline {
	margin-bottom: 30px;
  }
  .timeline .title-wrapper {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 25px;
	font-size: 20px;
  }
  .timeline-list {
	font-size: 16px;
	margin-left: 7px;
	font-style: normal;
	list-style: none;
  }
  .timeline-item {
	position: relative;
  }
  .timeline-item:not(:last-child) {
	margin-bottom: 20px;
  }
  .timeline-item-title {
	font-size: 18px;
	line-height: 1.3;
	margin-bottom: 7px;
  }
  .timeline-list span {
	color: #809fff;
	line-height: 1.6;
  }
  .timeline-item:not(:last-child)::before {
	content: "";
	position: absolute;
	top: -25px;
	left: -30px;
	width: 1px;
	height: calc(100% + 50px);
	background: #ffffff;
  }
  .timeline-item::after {
	content: "";
	position: absolute;
	top: 5px;
	left: -33px;
	height: 6px;
	width: 6px;
	background: #809fff;
	border-radius: 50%;
	box-shadow: 0 0 0 4px #323232;
  }
  .timeline-text {
	line-height: 1.6;
	font-style: normal;
  }
  .hobbyContainer {
	display: flex;
	justify-content:space-evenly;
	padding: 1vh 8vw;
  }