h1#first-body-header-stuff {
	margin-block-start: 0px !important;
	margin-top: 100px;
	padding-top: 300px;
	text-align: center;
	font-family: "atkinson-bold";
	font-size: 90px;
}
h1#body-header-stuff {
	margin-block-start: 0px !important;
	margin-top: 100px;
	padding-top: 200px;
	text-align: center;
	font-family: "atkinson-bold";
	font-size: 90px;
}
h3#body-header-stuff {
	text-align: center;
	font-family: "atkinson-bold";
	font-size: 30px;
}

/*
  Media icons
  */
.social {
	color: rgb(128, 159, 255);
	font-size: 23px;
	padding: 12px 17px;
	border-radius: 50%;
	background: transparent;
	transition: 0.4s ease-in-out;
	font-weight: bold;
	margin: 0px 8px;
}

.social:hover {
	cursor: pointer;
	color: #fff;
}

/*
  Large button
  */
.main_btn {
	font-size: 18px;
	font-family: "atkinson-bold", sans-serif;
	color: rgb(128, 159, 255);
	background: transparent;
	border: 3px solid rgb(128, 159, 255);
	padding: 8px 40px;
	width: 20%;
	border-radius: 80px;
	font-weight: bold;
	margin: 2vh 0px;
	transition: 0.2s ease-in-out;
	text-align: center;
}

.main_btn:hover {
	cursor: pointer;
	color: #fff;
	background: rgb(128, 159, 255);
}

.invisible {
	visibility: hidden;
}


/*
Footer
*/
#footer {
	width: 100%;
	padding: 10vh 0px;
	padding-bottom: 30px;
	text-align: center;
	font-weight: bold;
}

#footer a {
	color: rgb(128, 159, 255);
	text-decoration: none;
}

/*
  Other
  */
::placeholder {
	font-family: "atkinson", sans-serif;
	color: #ffffff;
}

button:focus {
	outline: none;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.8);
}

/*
  Back-to-top function
  */
#back-to-top {
	display: none;
	background-color: #809fff;
	color: #000000;
	border: none;
	border-radius: 4px;
	padding: 10px;
	font-size: 16px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 9999;
	transition: all 0.3s ease-in-out;
}

#back-to-top:hover {
	cursor: pointer;
	color: #fff;
	background: rgb(128, 159, 255);
}

#free-stuff {
	padding: 1% 30% 5% 30%;
	font-weight: normal;
	text-align: center;
}

h1#body-header {
	margin-top: 100px;
	text-align: center;
	font-family: "atkinson-bold";
	font-size: 90px;
}

h2#body-header {
	text-align: center;
	font-family: "atkinson-bold";
	font-size: 30px;
}

.fixed-header {
	background: rgba(48, 47, 47, 0.98);
	color: #ffffff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
	padding: 2vh 4vw;
}

.fixed-header #navigation a:hover {
	border-bottom: 2px solid rgb(128, 159, 255);
}

 /*
  Mobile version
  */
  @media (max-width: 600px) {
	p {
		font-size: 12px;
	}
	h1#first-body-header {
		margin-block-start: 0px !important;
		margin-top: 100px;
		padding-top: 250px;
		padding-left: 3%;
		padding-right: 3%;
		text-align: center;
		font-family: "atkinson-bold";
		font-size: 3.5rem;
	}
	h1#body-header {
		margin-block-start: 0px !important;
		margin-top: 100px;
		padding-top: 300px;
		padding-left: 3%;
		padding-right: 3%;
		text-align: center;
		font-family: "atkinson-bold";
		font-size: 3.5rem;
	}
	h2#body-header {
		text-align: center;
		font-family: "atkinson-bold";
		padding-left: 3%;
		padding-right: 3%;
		font-size: 25px;
	}
	header {
		display: none;
	 }
	#header table tr td {
		width: 100%;
		display: block;
		text-align: center;
		padding: 15px 0px;
	}
	#header td#logo {
		margin: auto;
		text-align: center;
		align-items: center;
	}
	#header td#navigation {
		display: none;
	}
	.main_btn {
	  padding: 6px 30px;
	  width: 25%;
	  margin: 4vh auto;
	  box-shadow: 0px 10px 20px rgba(128, 159, 255, 0.8);
	  background: transparent;
	  color: #fff;
	  text-align: center;
	}
	.main_btn:hover {
	  box-shadow: 0px 10px 40px rgba(128, 159, 255, 0.8);
	  cursor: pointer;
	}
	#footer {
		width: 100%;
		padding: 10vh 0px;
		padding-top: 200px;
		padding-bottom: 30px;
		text-align: center;
		font-weight: bold;
	}
  }