/*
Dark theme
*/
@media (prefers-color-scheme: dark) {
	body {
		color: #eee;
		background: #262525;
	}

	body a {
		color: #809fff;
	}
}

/*
Custom Font
*/
@font-face {
	font-family: 'Benz';
	src: local("/assets/fonts/benz.woff"),
		url('/assets/fonts/benz.woff') format('woff');
}
@font-face {
	font-family: 'gt';
	src: local("/assets/fonts/gt/woff"),
		url('/assets/fonts/gt.woff') format('woff');
}

/*
Main
*/
body {
	font-family: "gt", sans-serif;
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
p {
	font-size: 17px;
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
} 

/*
Header
*/
header {
	width: 92vw;
	height: 5%;
	padding: 6vh 4vw;
	position: fixed;
	font-weight: bold;
	background: transparent;
	color: #fff;
	transition: 0.4s ease-in-out;
	z-index: 2;
}

header table {
	width: 100%;
}

.fixed-header {
	background: rgba(48, 47, 47, 0.98);
	color: #ffffff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
	padding: 2vh 4vw;
}

.fixed-header #navigation a:hover {
	border-bottom: 2px solid rgb(128, 159, 255);
}

/*
wmw. logo
*/
#logo {
	width: 10%;
	font-size: 24px;
	color: rgb(255, 255, 255);
}

/*
Top right nav
*/
#navigation {
	width: 80%;
	text-align: right;
}

#magnify {
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.92);
	position: fixed;
	z-index: 4;
	display: none;
	flex-direction: column;
	justify-content: center;
}

#magnify h1 {
	position: absolute;
	top: 0;
	right: 0;
	margin: 20px 40px;
	color: #fff;
	transition: 0.4s ease-in-out;
}

#magnify h1:hover {
	color: rgb(128, 159, 255);
	cursor: pointer;
}

#navigation a {
	color: inherit;
	text-decoration: none;
	padding: 5px 10px;
	border-bottom: 2px solid transparent;
	margin-left: 4vw;
	transition: 0.4s ease-in-out;
}

#navigation a:hover {
	border-bottom: 2px solid #fff;
}

h1#body-header {
	margin-top: 100px;
	text-align: center;
	font-family: "Benz";
	font-size: 90px;
}

#entry {
	width: 100%;
}

#entry tr td {
	width: 50%;
}

#hello {
	font-family: "Benz", sans-serif;
	width: 84% !important;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	padding: 0px 10%;
}

#hello h1 {
	font-size: 45px;
	word-wrap: break-word;
}

#hello table {
	width: 70%;
	margin-top: 4vh;
}

#hello table tr td {
	width: 20% !important;
	text-align: left;
}

/*
  Media icons
  */
.social {
	color: rgb(128, 159, 255);
	font-size: 23px;
	padding: 12px 17px;
	border-radius: 50%;
	background: transparent;
	transition: 0.4s ease-in-out;
	font-weight: bold;
	margin: 0px 8px;
}

.social:hover {
	cursor: pointer;
	color: #fff;
	background: rgb(128, 159, 255);
	box-shadow: 0px 10px 30px rgba(128, 159, 255, 0.8);
}

/*
  Large button
  */
.main_btn {
	font-size: 18px;
	font-family: "DM Serif Display", sans-serif;
	color: rgb(128, 159, 255);
	background: transparent;
	border: 3px solid rgb(128, 159, 255);
	padding: 8px 40px;
	width: 20%;
	border-radius: 80px;
	font-weight: bold;
	margin: 2vh 0px;
	transition: 0.4s ease-in-out;
	text-align: center;
}

.main_btn:hover {
	box-shadow: 0px 10px 30px rgba(128, 159, 255, 0.8);
	cursor: pointer;
	color: #fff;
	background: rgb(128, 159, 255);
}

.invisible {
	visibility: hidden;
}


/*
Footer
*/
#footer {
	width: 100%;
	padding: 10vh 0px;
	padding-bottom: 30px;
	text-align: center;
	font-weight: bold;
}

#footer a {
	color: rgb(128, 159, 255);
	text-decoration: none;
}

/*
  Other
  */
::placeholder {
	font-family: "Syne", sans-serif;
	color: #ffffff;
}

button:focus {
	outline: none;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.8);
}

/*
  Back-to-top function
  */
#back-to-top {
	display: none;
	background-color: #809fff;
	color: #000000;
	border: none;
	border-radius: 4px;
	padding: 10px;
	font-size: 16px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 9999;
	transition: all 0.3s ease-in-out;
}

#back-to-top:hover {
	cursor: pointer;
	color: #fff;
	background: rgb(128, 159, 255);
}


/*
Mobile version
*/
@media (max-width: 1000px) {
	#photos {
		columns: 1;
		column-gap: 0%;
	}

	#photos img {
		margin: 2% 0px;
	}

	#photos img:hover {
		transform: scale(1);
		cursor: pointer;
	}

	#rightImage {
		display: none;
	}

	#entry {
		border: 0px;
	}

	#entry tr td {
		width: 100%;
		text-align: center;
	}

	#hello {
		width: 92% !important;
		height: 75vh;
		padding-top: 20vh !important;
		text-align: center;
		padding: 0px 4%;
	}

	#hello table {
		width: 100%;
		margin-top: 6vh;
	}

	#hello table tr td {
		text-align: center;
	}

	.main_btn {
		padding: 6px 30px;
		width: 25%;
		margin: 4vh auto;
		box-shadow: 0px 10px 20px rgba(128, 159, 255, 0.8);
		background: transparent;
		color: #fff;
		text-align: center;
	}

	.main_btn:hover {
		box-shadow: 0px 10px 40px rgba(128, 159, 255, 0.8);
		cursor: pointer;
	}

	#contact table tr td {
		width: 100%;
		display: block;
		padding-top: 50px;
	}

	#inner_table tr td {
		padding: 10px 0px !important;
	}

	#contact form input {
		width: 90%;
	}

	#contact form textarea {
		width: 90%;
	}

	#hobbies h1 {
		width: 100%;
	}

	#bio h1 {
		width: 100%;
	}

	#contact h1 {
		width: 100%;
	}

	header {
		width: 96vw;
		background: #262525;
		padding: 4vh 2vw;
		position: absolute;
	}

	#header table tr td {
		width: 100%;
		display: block;
		text-align: center;
		padding: 15px 0px;
	}

	#navigation a {
		color: #ffffff;
	}

	.hobbyContainer {
		flex-direction: column;
	}

	.timeline {
		width: 100%;
		margin-bottom: 20px;
	}
}